<form>
  <div class="form-group">
      {{input id="file" value=file type="file" placeholder="File+" style="width: 30px"}}
    <div class="row">
      <div class="col-md-1">
        {{input value=name id="name" placeholder="Name.."}}
      </div>
      <div class="col-md-4">
        {{input  value=content id="content" placeholder="Post.."}}
      </div><br>
      <div class="col-md-1">
        <button {{action 'saveMessage'}} class=" btn btn-primary btn-sm" style="padding: 10px; margin-left: 140px; margin-top: -10px" id="btn-chat">Submit</button>
      </div>
    </div>
  </div>

</form>
<!-- to top -->
<a href="#top"><button class="btn">Top</button></a>
