<form>
  <div class="form-group">
    {{input id="file" value=file placeholder="File+"}}{{input  id="name" placeholder="Enter Name.."}}{{input class="form-control" id="content" placeholder="Post.."}}<button {{action 'saveMessage'}} class="btn btn-default">Submit</button>
  </div>

</form>
