<!-- including the new contact button -->
<!-- to allow one to pass a number of attributes -->
{{#if addNewAdmin}}
<h1>New Contact</h1>
<div>
    <form>
      <div class="form-group">
        <label for="contact_name">Contact_name</label>
        {{input value=contact_name id="contact_name"}}
      </div>

      <div class="form-group">
        <label for="contact_no">Contact_no</label>
        {{input value=contact_no id="contact_no"}}
      </div>
  </form>
</div>
{{else}}
  <button {{action 'adminFormShow'}}>New Contact</button>
{{/if}}
