
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body {
  margin-top: 2px;
}

.fa-fw {
  width: 2em;
}


/*top icons*/

.fa-top {
  color: #105fa8;
}


/*side dashboard*/

#side-dashboard {
  border: 1px solid #c7c9cc;
  border-radius: 4px;
  background-color: #f7f8f9;
}


/*admin status*/

.status-button {
  height: 15px;
  weight: 15px;
  border-radius: 30px;
  background-color: #4ecc14;
}

.admin-pic {
  height: 80px;
  width: 80px;
  border: 1px solid #c7c9cc;
  margin: 1px;
  border-radius: 200px
}


/*login form styles*/

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  width: 500px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 70%;
  }
}


/*form header*/

.login-header {
  text-align: center;
}


/*main area css*/

.main-area {
  height: auto;
}

.table-header {
  padding-left: 180px;
}
/*contacts table*/
.contacts-hr{
	background-color: blue;
	border: 1px solid #c7c9cc;
}

tr .data {
  padding-left: 140px;
}


/*no styles on ul*/

ul {
  list-style-type: none;
}


/*box shadow*/

.boxshadow {
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}


/* Make the image fit the box */

.boxshadow img {
  border: 1px solid #8a4419;
  border-style: inset;
}
.things-left{
	float: left;
}
#border{
	border-bottom: 1px solid #c7c9cc;
	margin-bottom: 5px;
}
#border img{
	width: 20px;
	height: 50px;
}

/*CHAT BOX  STYLES*/
.panel-body{
	width: 900px
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/*about us page*/
.contact {
 padding-left: 250px;
}

.conpa {
 padding-right: 70px;
}

.circular-image {
 border-radius: 50%;
}
