<button><a href="https://api.africastalking.com/restless/send?username=cmm&Apikey=566bb1e379186a5575d446f57c00a1acbe6e38999710cb47c0caea55a961d557&to=+254723844166,+254717032225&message=Yo bros, congratulations for your awesome work and effort in creating this app. From ContactManager Admin...Dickson Muli">message</a></button>

<div class="table-responsive container-fluid">
  <span class="table-header"><b>Name</b></span>
  <span class="table-header"><b>Phone Number</b></span>
  <table class="table table-striped">
      {{#each model as |contact|}}
      <tr>{{admin-tile contact=contact update="update" destroyContact="destroyContact"}}</tr>
      {{/each}}
   </table>


  {{new-admin saveContact2="saveContact3"}}
</div>
