
<meta name="google-signin-client_id" content="733691801988-dmpndbq0881ffdeh40ir8d48v2a4mb65.apps.googleusercontent.com">
<meta name="google-signin-scope" content="profile email">
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: #c7c9cc">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Contact manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-envelope-o fa-top fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-address-book-o fa-top fa-2x" aria-hidden="true"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x fa-top" ></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
			<!-- side dash-board -->
        <div class="col-md-3" id="side-dashboard">
          <!-- user picture and status -->
          <div class="user-section">
            <div class="row">
              <div class="col-md-4">
                <img src="http://totaltradeconsultant.com/img/passport.gif" alt="Admin" class="admin-pic">
              </div>
              <div class="col-md-8">
                <p>Belly McConney</p>
                <p>Status <button class="status-button"></button></p>
              </div>
            </div>
          </div>
					<!-- nav pills -->
            <ul class="nav nav-pills nav-stacked">
                <li class="active">{{#link-to 'index'}}<i class="fa fa-home fa-fw"></i>Home{{/link-to}}</li>

                <li>{{#link-to 'chat'}}<i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>Messages{{/link-to}}</li>

                <li>{{#link-to 'login'}}<i class="fa fa-user fa-fw" ></i>Admin{{/link-to}}</li>

                <li>{{#link-to 'index'}}<i class="fa fa-bar-chart-o fa-fw"></i>Charts{{/link-to}}</li>
                <li>{{#link-to 'contact'}}<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Contact{{/link-to}}</li>
                <li>{{#link-to 'index'}}<i class="fa fa-calendar fa-fw"></i>Calender{{/link-to}}</li>
                <li>{{#link-to 'about'}}<i class="fa fa-pencil fa-fw"></i>About us{{/link-to}}</li>
                <li>{{#link-to 'admin'}}<i class="fa fa-cogs fa-fw"></i>Settings{{/link-to}}</li>
            </ul>
        </div>
        <div class="col-md-9 well main-area" >

						{{outlet}}
        </div>
    </div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
