<meta name="google-signin-client_id" content="733691801988-dmpndbq0881ffdeh40ir8d48v2a4mb65.apps.googleusercontent.com">
<meta name="google-signin-scope" content="profile email">
<div class="container">
    <div class="row">
			<!-- side dash-board -->
        <div class="col-md-3">
          <div class="user-section">
            
          </div>
					<!-- nav pills -->
            <ul class="nav nav-pills nav-stacked">
                <li class="active">{{#link-to 'index'}}<i class="fa fa-home fa-fw"></i>Home{{/link-to}}</li>

                <li>{{#link-to 'chat'}}<i class="fa fa-commenting fa-fw"></i>Messages{{/link-to}}</li>

                <li>{{#link-to 'admin'}}<i class="fa fa-user fa-fw" ></i>Admin{{/link-to}}</li>

                <li>{{#link-to 'index'}}<i class="fa fa-bar-chart-o fa-fw"></i>Charts{{/link-to}}</li>
                <li>{{#link-to 'contact'}}<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Contact{{/link-to}}</li>
                <li>{{#link-to 'index'}}<i class="fa fa-calendar fa-fw"></i>Calender{{/link-to}}</li>
                <li>{{#link-to 'about'}}<i class="fa fa-pencil fa-fw"></i>About us{{/link-to}}</li>
                <li>{{#link-to 'admin'}}<i class="fa fa-cogs fa-fw"></i>Settings{{/link-to}}</li>
            </ul>
        </div>
        <div class="col-md-9 well">
            Vertical admin menu<br>
						Vertical admin menu<br>
						<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
						{{outlet}}
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
