<h1 style="text-align:center">Contact us</h1>
<div class="container">
<div class="row">
  <div class="col-md-3">
    <!--To display mobile no-->
    <h3>Mobile no <i style="font-size:24px" class="fa">&#xf10b;</i></h3>
    <p>
      Dickson Muli: +254719364087<br>
      Alex Kinuthia:+2542702028135<br>
      Collins Mwiti: +254723844166<br>
    </p>
    <!--To display email-->
    <h3>Email</h3>
    <p><i style="font-size:24px" class="fa">&#xf003;</i><a href="https://accounts.google.com/ServiceLogin?sacu=1#identifier">dicksonm6@gmail.com</a></p>
    <!--To display social media-->
    <h3>Social Media <i style="font-size:24px" class="fa">&#xf0c0;</i></h3>
    <div class="row">
    <div class="col-md-4">
      <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-md-4">
      <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-md-4">
    <i class="fa fa-pinterest-square fa-4x" aria-hidden="true"></i>
    </div>
    </div>
    <!--To display repo-->
    <h3>Github <i class="fa fa-github" aria-hidden="true"></i></h3>
    <p><a href="https://github.com/Dicksonmuli/contact-manager.git">Fork this project</a></p>
    <br>
    <br>
    <button><a href="https://docs.google.com/forms/d/e/1FAIpQLScYCFuzjlNJ9nmLqDE7WRpk579XwA-UmB6ifxIs1bDwWTDYZg/viewform">Feedback</a></button>
  </div>
  <!--To display map-->
  <div class="col-md-9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7905371822694!2d36.78239551475385!3d-1.3005322990514376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109dcb26a413%3A0xca1c503989df391d!2sNgong+Lane+Plaza!5e0!3m2!1sen!2s!4v1491566838004" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
</div>

<!--scripts-->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
  require(["mojo/signup-forms/Loader"], function(L) {
    L.start({
      "baseUrl": "mc.us15.list-manage.com",
      "uuid": "4c34286c3a7f9cce078260b5a",
      "lid": "44adb2a949"
    })
  })
</script>
<!-- #region Jssor Slider Begin -->
<!-- Generator: Jssor Slider Maker -->
<!-- Source: http://www.jssor.com -->
<!-- This code works without jquery library. -->
<script src="js/jssor.slider-22.2.16.min.js" type="text/javascript"></script>
<script type="text/javascript">
  jssor_1_slider_init = function() {

    var jssor_1_options = {
      $AutoPlay: true,
      $Idle: 0,
      $AutoPlaySteps: 4,
      $SlideDuration: 2500,
      $SlideEasing: $Jease$.$Linear,
      $PauseOnHover: 4,
      $SlideWidth: 140,
      $Cols: 7
    };

    var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

    /*responsive code begin*/
    /*remove responsive code if you don't want the slider scales while window resizing*/
    function ScaleSlider() {
      var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
      if (refSize) {
        refSize = Math.min(refSize, 809);
        jssor_1_slider.$ScaleWidth(refSize);
      } else {
        window.setTimeout(ScaleSlider, 30);
      }
    }
    ScaleSlider();
    $Jssor$.$AddEvent(window, "load", ScaleSlider);
    $Jssor$.$AddEvent(window, "resize", ScaleSlider);
    $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
    /*responsive code end*/
  };
</script>
<script type="text/javascript">
  jssor_1_slider_init();
</script>
<!-- #endregion Jssor Slider End -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58c10705ba908f30"></script>
