

<div class="container-fluid">
	<div class="row">
		{{#link-to 'calendar'}}
			<div class="col-md-3">
					<div class="panel panel-primary">
							<div class="panel-heading" id="top">
									<span class="fa fa-calendar fa-5x"></span>
									Calendar
							</div>
							<div class="panel-body">
								View Details
							 </div>

					</div>
			</div>
		{{/link-to}}
		<a href="message">
			<div class="col-md-3">
					<div class="panel panel-primary">
							<div class="panel-heading" id="top">
									<span class="fa fa-comment fa-5x"></span>
									Messages
							</div>
							<div class="panel-body">
								View Details
							 </div>

					</div>
			</div>
		</a>
		<a href="login">
			<div class="col-md-3">
					<div class="panel panel-primary">
							<div class="panel-heading" id="top">
									<span class="fa fa-phone fa-5x"></span>
									Contacts
							</div>
							<div class="panel-body">
								View Details
							 </div>

					</div>
			</div>
		</a>
		<a href="#">
			<div class="col-md-3">
					<div class="panel panel-primary">
							<div class="panel-heading" id="top">
									<span class="fa fa-pencil fa-5x"></span>
									Notes
							</div>
							<div class="panel-body">
								View Details
							 </div>

					</div>
			</div>
		</a>

	</div>
	<div class="col-md-10">
		<img src="https://alesandrab.files.wordpress.com/2013/05/dummy-data.png" alt="" style="height: 300px; width: 500px;">
	</div>
</div>
