<div class="row">
	<div class="col-md-6">
		<iframe src="https://calendar.google.com/calendar/embed?src=7gamcvq0nusl4ojh4bor38dikk%40group.calendar.google.com&ctz=Africa/Nairobi" style="border: 0" width="400" height="320" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class="col-6-md">

	</div>

</div>
