
<div class="row">
	<div class="col-md-6">
		<iframe src="https://calendar.google.com/calendar/embed?src=7gamcvq0nusl4ojh4bor38dikk%40group.calendar.google.com&ctz=Africa/Nairobi" style="border: 0" width="400" height="320" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class="col-6-md">
		<iframe src="http://www.google.com/uds/modules/elements/newsshow/iframe.html?format=300x250"
        frameborder="0" width="450" height="320"
        marginwidth="0" marginheight="0">
				<img src="https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png" alt="">
</iframe>
	</div>
</div>
