<div class="container-fluid">
			    <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-primary">
			                <div class="panel-heading">
			                    <span class="glyphicon glyphicon-comment"></span> Live Chat
			                    <div class="btn-group pull-right">
			                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			                            <span class="glyphicon glyphicon-chevron-down"></span>
			                        </button>

			                    </div>
			                </div>
			                <div class="panel-body">
												<ul>
													{{#each model.messages as |message|}}
														{{chat-tile message=message saveReply="saveReply"}}
													{{/each}}
												</ul>
												{{new-message saveMessage="saveMessage"}}
			                 </div>
			            </div>
			        </div>
			    </div>

</div>
