<div class="container-fluid">
	<ul>
		{{#each model.messages as |message|}}
			{{chat-tile message=message saveReply="saveReply"}}
		{{/each}}
	</ul>
	{{new-message saveMessage="saveMessage"}}
</div>
